{%extends 'base.html'%}
{%block title%}
FAQ
{%endblock%}
{%block contenido%}
<div class="privacy">
  <h1>FAQ's</h1>
  <h2>¿Qué es Blogster?</h2>
  <p>Blogter es una comunidad hecha por y para blogeros. Una plataforma alternativa y sostenible ideal para el periodismo indepdiente.</p>
  <h2>¿Por qué publicar en Blogster?</h2>
  <p>Porque esta platarfoma se basa en una comunidad, donde todos los integrantes (Blogsters) nos ayudamos, damos visulización a tu contenido, consiguiendo así que se llegue a un mayor número de personas, además siempre dispondrás de la ayuda de los
    Blogsters cada vez que necesites preguntar algo o resolver algún problema.</p>
  <h2>¿Quién puede publicar en Blogster?</h2>
  <p>No existe ninguna restricción en cuanto a quién puede publicar en Blogster, esta es la plataforma ideal para todo aquel que tenga algo que decir al mundo. Al contrario que otras platarformas, aquí en Blogster te animamos a que expreses tus
    ideas, pensamientos y puntos de vista a través de tus posts. </p>

  <h2>Normas de la comunidad.</h2>
  <ul>
    <li>El contenido será revisado antes de su publicación.</li>
    <li>El contenido de los posts no puede incitar al odio o la violencia.</li>
    <li>No se promociona a ningún Blogster por encima de otro, creemos en la igualdad de oprtunidades.</li>
    <li>Los comentarios de los posts podrán ser moderados por el autor, el cual podrá eliminarlos en caso de que incumplan las normas de la plataforma.</li>

  </ul>
  <h2>¿Cómo contactarnos?</h2>
  <p>Estamos encantados de escucharte, siempre que lo necesites nos puedes escribir a wavecompany@europe.com, de igual manera si sientes que un comentario ha sido eliminado injustamente nos puedes contactar y resolveremos tu situación a la mayor
    brevedad.</p>


  <h2>Disfruta de nuestra plataforma...</h2>
  <p>Copyright: {{year}} </p>
</div>


{%endblock%}
