
{%extends 'base.html' %}
{% load static %}

{%block title%}Video Blosgter{%endblock%}

{%block contenido%}

<div style="margin:10%">
    <div style="margin:auto; width: 50%; text-align: center;">
<a class="navbar-brand" href="{%url 'home'%}">
      <img src="{% static 'images/icono.png'%}" width="100" height="100" alt="" loading="lazy" style="border-radius:50%; boder: solid 1px  black; padding: 2px;">
 </a>
<h2>Novedades en Video Blosgter 😉</h2>
<br><br>
<p>Mira lo que hemos preparado para ti</p>
</div>




</div>

    {% include 'post.html'%}

{%endblock%}
