{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe }}
</div>
{% endfor %}


<main role="main" class="inner cober" style="text-align: center; width: 60%; margin-left: 20%; margin-bottom: 2%;">
  <h1 class="cover-heading">Bienvenido a Video Blogster </h1>
  <h4>¡Ahora puedes ganar dinero por tus Videos!</h4>
  <p class="lead">Una comunidad de blogueros alrededor del mundo, un lugar donde dar a conocer tus ideas y hacerte escuchar. No dudes en unirte y pertenecer a la comunidad de Video blogsters.</p>
  <a href="{% url 'faq'%}" class="btn btn-info" style="float:none; color: white; margin-top: -1%;">Saber más...</a>
</main>

