
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>

<div class="embla1">
  <div class="embla__container1">
    {%for post in post%}
    {%ifequal post.publicado True%}
    <div class="embla__slide1">
      <a href="{% url 'post_details' pk=post.id_post %}"  class="embla__slide__inner">
        {% if post.imagen_principal %}
            <img src="{{post.imagen_principal.url}}" class="embla__slide__img" alt="{{post.titulo}}">
        {% else %}
            <img src="{{post.imagen_url}}" class="embla__slide__img" alt="{{post.titulo}}">
        {% endif %}
        <h5 class="embla_text">{{post.titulo |title}}</h5>
        </a>
    </div>
     {%endifequal%}
    {%endfor%}
  </div>
</div>

<style>
.embla1 {
  overflow: hidden;
}
.embla__container1 {
  display: flex;
}
.embla__slide1 {
  position: relative;
  flex: 0 0 40%;
  padding:1rem;
}
.embla__slide__img{
    border-radius: 1rem;
    width: 30rem;
    height:15rem;
}
.embla_text{
    padding: 1rem;
    word-wrap: break-word;
    max-width: 30rem;
    text-align: center;
}
</style>

<script type="text/javascript">
  var emblaNode = document.querySelector('.embla1')
  var options = { loop: true,align: 'center' ,slidesToScroll: 1}

  var embla = EmblaCarousel(emblaNode, options)
</script>

