{%extends 'base.html'%}
{%block title%}
Videos Guardados
 {%endblock%}

 {%block contenido%}
<div class="post_guardados">
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      {{ message | safe }}
  </div>
  {% endfor %}

<h5>Tus videos guardados</h5>


<center>
  <div class="">

    {%for post_guardados in post%}

  <div class="col-md-20">
  <div class="card flex-md-row mb-4 box-shadow h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">{{post_guardados.post.categoria| title}}</strong>
      <h3 class="mb-0">
        <a class="text-dark"  href="{% url 'post_details' pk=post_guardados.post.id_post %}"> {{post_guardados.post.autor.usuario | title}}</a>
      </h3>
      <div class="mb-1 text-muted"> {{post_guardados.post.created_at | date}}</div>
      <p class="card-text mb-auto">{{post_guardados.post.descripcion | title}}</p>
      <p class="card-text">

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="grey" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>


        {{post_guardados.post.autor.usuario | title}}</p>

    <img class="perfil" src="{{post_guardados.post.autor.imagen_perfil.url}}" alt="{{post_guardados.post.autor}}">

      <a href="{% url 'post_details' pk=post_guardados.post.id_post %}" style="color: #007BCE">Continuar leyendo</a>
    </div>
    {% if post.imagen_principal %}
    <img class="card-img-right flex-auto d-none d-md-block" src="{{post_guardados.post.imagen_principal.url}}" alt="{{post_guardados.post.titulo}}" style="width: 300px">
    {% else %}
  
    <img class="card-img-right flex-auto d-none d-md-block" src="{{post_guardados.post.imagen_url}}" alt="{{post_guardados.post.titulo}}" style="width: 300px">
    {% endif %}
  
  </div>
</div>

{%endfor%}

</div>
</center>
 {%endblock%}
