

{%extends 'base.html'%}

{%load static%}
{%block title%}Registro{%endblock%}
{%block contenido%}
<div class="registro">
  <img src="{%static 'images/icono.png'%}" alt="Blogster">
  <h2>Registrate en Blogster</h2>

  <form method="POST">
      {% csrf_token %}
      {% for field in form_reg %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error | safe }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="boton btn-dark">Registrar</button>
  </form>

  <hr />

  <a href="/login">Iniciar sesión</a>
</div>


{%endblock%}
