{%extends 'base.html'%}
{%block title%}Seguidores{%endblock%}
{%block contenido%}
<div class="siguiendo" style="">
<h1>Tus seguidores</h1>

<hr>

{%for user in users%}
<a href="{%url 'view_porfile' pk=user.sigue.porfile.pk %}" >
<div class="users ">
<img class="perfil_user" loading="lazy"  src="{{user.sigue.porfile.imagen_perfil.url}}" alt="{{user.sigue.username}}" style="margin-top: 5%; ">
<div class="datos_usuario">
<h2>{{user.sigue.first_name | title}} {{user.last_name| title}}</h2>
<p><strong>{{user.sigue.username | title}}</strong></p>
<i>Biografia: {{user.sigue.porfile.bio}}</i>
<p>Total de post: {{user.sigue.porfile.total_post}}</p>
<p>Total de vistas este mes : {{user.sigue.profile.vistas}}</p>
</div>
<br>
<hr>
</div>
</a>
{%endfor%}
</div>

{%endblock%}
