{%extends 'base.html'%}
{%block title%}Siguiendo{%endblock%}
{%block contenido%}
<div class="siguiendo ">
  <h2>Siguiendo a</h2>
  <hr>
  {%for user in users%}
  <a href="{%url 'view_porfile' pk=user.seguido.porfile.pk %}" >
    <div class="users ">
      <img class="perfil_user" loading="lazy"  src="{{user.seguido.porfile.imagen_perfil.url}}" alt="{{user.seguido.username}}" style="">
      <div class="datos_usuario ">

        <h2>{{user.seguido.first_name | title}} {{user.last_name| title}}</h2>
        <p><strong>{{user.seguido.username | title}}</strong></p>
        <i>Biografia: {{user.seguido.porfile.bio}}</i>
        <p> Total de post: {{user.seguido.porfile.total_post}}</p>
        <p>Total de vistas este mes : {{user.seguido.profile.vistas}}</p>
        <br>
      </div>
      <hr>
    </div>
  </a>
  {%endfor%}
</div>


{%endblock%}
