<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="9"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="10"></li>
  </ol>
  <div class="carousel-inner">
    {%for post in post%}
    {%ifequal post.publicado True%}
    <div class="carousel-item {% ifequal post primer_post %}active{% endifequal  %}">
      <a href="{% url 'post_details' pk=post.id_post %}">
      <img src="{{post.imagen_principal.url}}" class="d-block w-100" alt="{{post.titulo}}">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{post.titulo |title}}</h5>
        <p>{{post.descripcion}}</p>
      </div>
    </div>
    {%endifequal%}
    {%endfor%}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Atras</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
