{%extends 'base.html'%}
{%block title%}Top Blogsters{%endblock%}
{%block contenido%}








<!-- Gallery -->
<div class="container">

{%for post in post %}
  {%ifequal post.publicado True%}

  <a href="{% url 'post_details' pk=post.id_post %}" class="item">
      <div class="card-background-vblogster">
           {% if post.imagen_principal %}
             <img
                  src="{{post.imagen_principal.url}}"
                  class="w-100 shadow-1-strong rounded mb-4 "
                  alt="{{post.titulo}}"
                />
            {% else %}
             <img
                  src="{{post.imagen_url}}}"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="{{post.titulo}}"
                />
            {% endif %}
         <div class="card-background-vblogster-text shadow  mb-5 bg-white rounded">
             <h3 style="color:#218838;">Top: {{forloop.counter}}</h3>
            <a class="" href="{% url 'post_details' pk=post.id_post %}" onclick="spinner()">{{post.titulo |lower|capfirst}}</a>
            <p class="mb-1 text-muted">{{post.categoria|lower|capfirst}}</p>
            <p class="mb-1 text-muted">{{post.visitas}} visitas</p>
            <p class="mb-1 text-muted">{{post.created_at | date}}</p>
            <p class="card-text mb-auto">{{post.descripcion |lower|capfirst}}</p>
        </div>
    </div>

</a>
{%endifequal%}
{%endfor%}

</div>




<style>
.container {
  max-width: 98%;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
  max-height: 40vh;
}



.item > img {
  height: 50%;
  margin: 0 1rem 0 2rem;
  box-shadow: 10px 14px 20px 0px rgba(226,204,189,1);
  max-width: 15rem;
   display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-background-vblogster-text{
    padding: 10rem 1rem 1rem 1rem;
    max-width: 20rem;
    margin: -10rem 1rem 1rem 1rem;
}
</style>





{%endblock%}
