


<main style="margin:30px; ">
<div class="site-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-9">
<div class="row" style="display: grid;grid-template-columns: auto auto ;overflow: hidden;">
{% for usuario in usuarios %}

<div class="col-md-6" style="">
<div class="d-flex post-entry">
<div class="custom-thumbnail">
<img src="{{usuario.imagen_perfil.url}}" style="max-width: 30px; border-radius:50%;"alt="{{usuario.user.username}}" class="img-fluid">
</div>
<div class="post-content">
<div class="datos_usuario">
<a href="{%url 'view_porfile' pk=usuario.id_porfile %}">
<h5>{{usuario.usuario.username}}</h5>
<div class="post-meta"><span>Se unió el:</span>{{usuario.usuario.date_joined | date}}</div>
<div class="post-meta"><span>Total de visitas : <strong>{{usuario.vistas}}</strong></div>
</a>
</div>
</div>

</div>
</div>

{% endfor %}
</div>
</div>
</div>
</div>
</div>
</main>