{%extends 'base.html'%}
{%block title%}
View porfile
{%endblock%}

{%block contenido%}

<div class="porfile shadow p-3 mb-5 bg-white rounded">


    <img class="cover" src="{{user.cover.url}}" alt="{{user.username}}">

<img class="perfil_user" src="{{user.imagen_perfil.url}}" alt="{{user.usuario.username}}">

<div class="datos_usuario">

  <h2>{{user.usuario.first_name |lower|capfirst}} {{user.usuario.last_name|lower|capfirst}}</h2>
  <p><strong>{{user.usuario.username |lower|capfirst}}</strong></p>
  <p>Total de post: <strong>{{post_count}}</strong></p>
<p>Total de visitas : <strong>{{user.vistas}}</strong></p>
  <p>Se unio el : <strong>{{user.usuario.date_joined | date}}</strong></p>
  <p>{{user.bio}}</p>
  <a href="{{user.porfile.website}}"   style="color:blue;">{{user.website}}</a>


</div>
<br>
<br>
<div class="add" style="z-index:5">
  {%if esta_siguiendo == True %}
  <a href="{% url 'dejar_seguir' pk=user.usuario.pk %}">
    <button type="button" class="btn btn-dark">Dejar de seguir</button>

  </a>
  {%elif user.usuario.pk  == request.user.pk%}

{%else%}
  <a href="{% url 'seguir' pk=user.usuario.pk %}">
    <button type="button" class="btn btn-success">Seguir</button>
  </a>
{%endif%}
</div>

<hr>

<br>
<br>

  <div class="">

  {%for post in posts%}
  {%ifequal post.publicado True%}
  <div class="col-md-20">
  <div class="card flex-md-row mb-4 box-shadow h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">{{post.categoria|lower|capfirst}}</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="{% url 'post_details' pk=post.id_post %}"> {{post.titulo |lower|capfirst}}</a>
      </h3>
      <div class="mb-1 text-muted">{{post.created_at | date}}</div>
      <p class="card-text mb-auto">{{post.descripcion |lower|capfirst}}</p>
      <p class="card-text">

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="grey" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>


        {{post.autor.usuario |lower|capfirst}}</p>

    <img class="perfil" src="{{post.autor.imagen_perfil.url}}" alt="{{post.autor}}">

      <a href="{% url 'post_details' pk=post.id_post %}" style="color: #007BCE"> Ver ahora </a>
    </div>
    <a class="text-dark" href="{% url 'post_details' pk=post.id_post %}">
    {% if post.imagen_principal %}
    <img class="card-img-right flex-auto d-md-block" src="{{post.imagen_principal.url}}" alt="{{post.titulo}}" style="max-width: 350px; border-radius:20px;margin-top:10px;margin-right:10px;">
    {% else %}
    <img class="card-img-right flex-auto d-md-block" src="{{post.imagen_url}}" alt="{{post.titulo}}" style="max-width: 350px; border-radius:20px;margin-top:10px;margin-right:10px;">
    {% endif %}
    </a>
  </div>
</div>
{%endifequal%}
{%endfor%}

</div>







</div>
{%endblock%}
