{% extends 'base.html' %}
{%load static%}
{% block title %}Ingrese la nueva contraseña{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
{% if validlink %}

<center>
    <div class="login shadow p-3 mb-5 bg-white rounded">
    <img src="{% static 'images/icono.png'%}" alt="Blogster">
<h1>Ingresa tu nueva contraseña !</h1>
<hr>
<form method="POST">
  {% csrf_token %}
  {{ form |crispy }}
  <br>
  <input type="submit" class="btn-dark" value="Cambiar mi contraseña">
</form>
<hr>
<a href="{% url 'home' %}">Volver al inicio</a>

</div>
</center>
{% else %}

<p>El link es inválido, seguramente porque ya ha sido usado. Por favor pide un nuevo link a tu correo electrónico </p>

{% endif %}
{% endblock %}