{%extends 'base.html'%}
{%load static%}
{%block title%}Forgot Your Password?{%endblock%}


{% block contenido %}
<center>
<div class="login shadow p-3 mb-5 bg-white rounded">
    <img src="{% static 'images/icono.png'%}" alt="Blogster">
  <h1>Revisa tu bandeja de entrada </h1>
  <hr>
  <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>
  <hr>
  <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
  <a href="{% url 'home' %}">Volver al inicio</a>

</div>
</center>
{% endblock %}