{%extends 'base.html'%}
{%load static%}
{%block title%}Forgot Your Password?{%endblock%}


{% block contenido %}
{% load crispy_forms_tags %}
<center>
<div class="login shadow p-3 mb-5 bg-white rounded">
    <img src="{% static 'images/icono.png'%}" alt="Video Blogster"  width="100px;">
  <h1>¿ Has olvidado su contraseña?</h1>
  <hr>
  <p>Ingresa tu email y te envíaremos intrucciones para recuperarla</p>
  <form method="POST">
    {% csrf_token %}
    {{ form |crispy }}
    <br>
    <input type="submit" class="btn-dark" value="Enviame las intrucciones!">
  </form>
  <hr />

  <a href="{% url 'login'%}">Atras</a>
</div>
</center>
{% endblock %}